.btn-lg {
  border-width: medium;
  font-size: 1.1rem;
  padding: 0.6rem 1.3rem;
  position: absolute;
  margin-left: -50px;
  top: 50%;
  margin-top: 8rem;
}

@media (max-width: 768px) {
  .btn-lg {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
}
