@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #505962;
}
.App {
  text-align: center;
  height: 100vh;
}

#explore {
  text-decoration: none;
}

#move-up a {
  color: white;
  position: absolute;
  right: 6%;
  top: 150%;
  text-decoration: none !important;
}
